Flask
Jinja2 
google-api-python-client
pandas
numpy
google-auth
google-auth-oauthlib
python-dotenv
requests
python-dotenv
langdetect
diskcache
plotly
geopandas
ollama
spellchecker
torch
torchvision
diffusers
transformers
datasets 
textblob
youtube-transcript-api